/* -----------------------------------------------------------
TABLE OF CONTENTS:
--------------------------------------------------------------
1) Basic Page Layout
2) Header
3) About Me
   a) Picture
   b) Text
4) Skills
5)Portfolio
  a)work
  b)experience
6)Footer

-------------------------------------------------------------

------------------------------------------------------------*/

/* 1. START BASIC PAGE LAYOUT*/


body {
  height: 100%;
  overflow: auto;
  background-color: #333333;
}

.container-fluid{
margin: 0 auto;
padding: 0;
overflow: hidden;
}

.noPad{
  padding: 0 !important;
}

.fa-2x {
  vertical-align:bottom;
}

/* 1. END BASIC PAGE PROPERTIES */


/* 2. START HEADER */

.backgroundImage{
    background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.5) 100%) , url(../images/blur.jpg);
    background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.5) 100%) , url(../images/blur.jpg);
    background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.5) 100%) , url(../images/blur.jpg);
    background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.7) 100%) , url(../images/blur.jpg);
    width:100%;
    background-position: center top;
    background-size: cover;
		height:45em;
 }

 .introductionSegment{
   position:relative;
   top:150px;
 }

 .introductionSegment h1{
   color:white;
   font-family:Raleway, sans-serif;
   font-weight: 200;
   text-align: center;
   transition: all 0.4s linear;
 }

 .introductionSegment h1:hover{
   opacity: .5;
 }

 .logo{
   width:350px;
	 padding-bottom: 10px;
	 border-bottom: solid white 1px;
   margin:0 auto;
   -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
           transition: all 0.5s linear;
 }

 .logo:hover{
   opacity: 0.3;
 }

 /* 2. END HEADER */



/* 3. START ABOUT ME SECTION
     a) The Picture
 */


.aboutSection{
  background-color: #e6e6e6;
}
.aboutPicture{
  background: url(../images/aboutMePic.png);
  background-size:cover;
  background-position: top center;
  min-height: 700px;
  width: 102.25%;
  height: 100%;

}


/* 3. END ABOUT ME SECTION
     a) The Picture
 */


 /* 3. START ABOUT ME SECTION
      b) The Text
  */

.aboutMe{
  line-height: 33px;
  font-family: "Roboto San", sans-serif;
  font-weight: 300;
  text-align: justify;
  margin:17% auto;
  padding:0;
}

.aboutMe h4{
  font-family: Raleway;
  font-weight: 200;
}

.signature{
  width:150px;
  margin-top:.5em;
}

/* Second Page of The text */

.table{
  margin-left:20%;
  margin-top:30%;
  position: relative;
  display: block;
}

.aboutSection table td{
  align: center;
}

.aboutSection table tr{
  height:40px;
}

.title{
  font-weight:400;
  padding-right:10px;
}

.break{
  padding-right:15px;
}

/* 3. END ABOUT ME SECTION
     b) The Text
 */


/* 4. START SKILLS */

.htmlSection{
  background-color:#cccccc;
}

.cssSection{
  background-color:#a6a6a6;
}

.codeSection{
  background-color:#666666;
}

.photoSection{
  background-color: #404040;
}


.icon{
  text-align: center;
}

.skillHeaderText{
  display: inline-block;
  font-family: "Roboto Slab";
  vertical-align:baseline;
  }

.lighterColor{
   color:#d9d9d9;
}

.skillDescription{
  padding:.5em 1em;
  text-align: justify;
  height:100px;
}

.altColor{
  color:#cccccc;
}
/* 4. END SKILLS */


/* 5. START PORTFOLIO
     a) Work
 */

.myPortfolio{

}

.workSection{
 background-color:#262626;
 min-height:300px;
 padding-bottom: 2em;
}

.portfolioHeading{
  font-family: "Roboto Slab";
  font-weight: 100;
  text-align: center;
  color: #E6E6E6;
}

.placeholderImage{
  width:300px;
  opacity:0.3;
  display:block;
  margin: 3% auto;
}

/* 5. END PORTFOLIO
     a) Work
 */


 /* 5. START PORTFOLIO
      b) experience
  */
.experienceSection{
  background-color:#1a1a1a;
  min-height:300px;
}

.experienceText{
  font-family:"Roboto Slab";
  text-align: justify;
  font-weight: 300;
  padding: 0 2em;
  margin-top: 2%;
  color: #cccccc
}

/* 5. END PORTFOLIO
     b) experience
 */


/* 6. START FOOTER */

.myFooter{
  background-color:#151515;
}

.iconColor{
  color:#cccccc;
  -webkit-transition: color 0.5 ease;
  transition: color 1s ease;
}

.iconColor:hover{
  color:#333333;
}

.myFooter ul{
  text-align: center;
  margin-top:1%;
}
.myFooter ul li{
  display: inline-block;
  padding:0 10px;
}

.copyrightText{
  color:#595959;
  text-align: center;
  margin-bottom:2em;
}
/* 6. END FOOTER */
